.places {
    padding: 10px;
}

.places h1 {
    font-size: 30px;
}

.places article {
    border-radius: 4px;
    border: 1px solid #FF5A5F;
    min-width: 390px;
    padding: 20px;
    margin: 20px;
    text-align: center;
}

.places div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
